
@{
    ViewBag.Title = "Correos";
}

<h2>Correos</h2>

<table class="table table-responsive">
    <thead>
        <th>
            <span>Correo</span>
        </th>
        <th>
            <span>ParaQueSirve</span>
        </th>
    </thead>
    <tbody>
        <tr>
            <td>
                @ViewBag.correoEjemplo
            </td>
        </tr>
    </tbody>
</table>

