
@model IEnumerable<ProyectoTelefonos.Interno>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">

        <h2>Listado de Internos</h2>
        <br />
        <table class="table">
            <tr>
                <th>
                    <span>Piso</span>
                </th>
                <th>
                    <span>Sub-Area</span>
                </th>
                <th>
                    <span>Referente</span>
                </th>
                <th>
                    <span>Interno</span>
                </th>
            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.SubArea.Pisos)</td>
                <td>@Html.DisplayFor(modelItem => item.SubArea.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.SubArea.Referente)</td>
                <td>@Html.DisplayFor(modelItem => item.Numero)</td>
            </tr>
            }

        </table>



    </div>
